.grid-1 {
    height: 557px;
    }
    .grid-2 {
        height: 557px;
    }
    .grid-3 {
        height: 245px;
    }
    .grid-4 {
  width: 239px;
        height: 250px;
        margin-top: -95px;
    }

    

    .grid-5 {
    margin-left: -240px;
    height: 250px;
    margin-right: 304px;
    margin-top: -95px;
    }
    .grid-6 {
       margin-left: -297px;
       margin-top: -95px;
       
    }
    .grid-7{
   margin-right: -510px;
   margin-left: 784px;
   margin-top: -660px;
    }
     